
<h2 style="margin:50px 0 50px 0; color:cornflowerblue;" class="text-center">Apprendre à EdX</h2>

<div class="Container">
    <div class="row">
        <div class="col-xs-1 col-sm-3"><h3>Gagnez un certificat précieux</h3></div>
        <div class="col-xs-1 col-sm-3"><h3>Certificat professionnel</h3></div>
        <div class="col-xs-1 col-sm-3"><h3>Éligible au crédit</h3></div>
        <div class="col-xs-1 col-sm-3"><h3>Programmes MicroMasters</h3></div>
    </div>
    <div class="row">
        <div class="col-xs-1 col-sm-3"><p>Sélectionnez l'option du cours Certificat vérifié et recevez un certificat signé par l'institut avec le logo de l'établissement pour vérifier votre réussite et augmenter vos perspectives d'emploi.</p></div>
        <div class="col-xs-1 col-sm-3"><p>Présentez-vous dans votre domaine. Développez l'expertise que les employeurs recherchent à travers une série de cours axés sur les compétences.</p></div>
        <div class="col-xs-1 col-sm-3"><p>Prenez des cours sur votre horaire et recevez un crédit académique sans demande de transcription à une fraction du coût.</p></div>
        <div class="col-xs-1 col-sm-3"><p>Une série de cours de troisième cycle pour faire avancer votre carrière ou accélérer votre maîtrise. Reconnus par les leaders de l'industrie, MicroMasters fournit des compétences en demande et des connaissances critiques pour se démarquer.</p></div>
    </div>
</div>